
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:blueviolet">
        @DateTime.Now.ToShortDateString()
    </div>
    <br />
    <br />
    <div style="background-color:darkorange">
        @for (int i = 1; i <= 10; i++)
        {
            @i
            <br />
        }
    </div>
    <br />
    <br />
    <div style="background-color:cornflowerblue">
        @{ 
            var list = new List<string>() { "Muğla", "Ankara", "İstanbul"};
            int num = 1;
        }

        @foreach(var item in list)
        {
            @num
            @item
            <br />
            num++;
        }
    </div>
    <br />
    <br />
</body>
</html>
